.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(6px + 2vmin);
  color: white; 

}

.App-link {
  color: #61dafb;
}

.intro {
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  display: flex;
  font-size: calc(6px + 2vmin);
  color: white; 

}

.photo {
  display: block; /* Take the whole available width */
  max-width: 100%; /* responsive */
}

* {
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
} 

.container {
 width: 33.3333%;
 min-height: 100px;
 float: left; 
}

h1 {
  font-size:25px;
}

p {
  font-size:16px;
}


 /* For small tablets */
 @media (max-width:768px){
  .container {
   width: 50%; /* 2 images in a row */
  }
 }
 /* For smartphones */
 @media (max-width:420px){
  .container {
   width: 100%; /* 1 image in a row */
  }
 }
